.container-1{
    margin-top: 20px;
    margin-left: 115px;
}

.card{
    height: 150px;
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 100px;
}
.card-body{
    height: 100px;
}